**IMPORTS**

In [1]:
import pandas as pd
import datetime
import os

**SET VARIABLES**

In [2]:
cwd = os.getcwd()
print(f'File Path: {cwd}')
folder = '\\Data'
data_path = cwd + folder
print(f'Data Location: {data_path}')

File Path: d:\CSULB\Project\Data Analysis and Prediction\Python\ETL
Data Location: d:\CSULB\Project\Data Analysis and Prediction\Python\ETL\Data

**GET ALL FOLDERS AND FILES**

In [3]:
folder_files = os.listdir(data_path)
for f in folder_files:
    print(f)

Hogwarts_Student_Data_20240101.csv
Hogwarts_Student_Data_20240201.csv
Hogwarts_Student_Data_20240301.csv
Hogwarts_Student_Data_20240401.csv
Hogwarts_Student_Data_20240501.csv
Hogwarts_Student_Data_20240601.csv

**PEEK OF DATA**

In [4]:
df_peek = pd.read_csv(data_path + '/Hogwarts_Student_Data_20240601.csv')
df_peek.head()

,Student Name,House,Year,Wand Type,Pet,Potions Grade,Defense Against the Dark Arts Grade,Transfiguration Grade,Spells Learned,Quidditch Position,Points Earned for House,Detentions,Participation in Dueling Club,Triwizard Tournament Involvement,Items Owned,Knuts Spent in Hogsmeade,Attendance at Classes,Magical Accidents
0,Terry Finnigan,Ravenclaw,2,"9 inches, elm, veela hair core",NaN,Acceptable,Exceeds Expectations,Outstanding,23,NaN,54,1,Yes,Yes,"Extendable Ears, Marauder's Map",391,49,1
1,Cho Spinnet,Hufflepuff,5,"11 inches, holly, phoenix feather core",NaN,Acceptable,Exceeds Expectations,Outstanding,8,Chaser,25,3,Yes,No,"Sneakoscope, Invisibility Cloak, Extendable Ears",325,72,4
2,Ginny Potter,Ravenclaw,2,"12 inches, yew, unicorn hair core",Dragon,Outstanding,Poor,Poor,13,Keeper,-5,3,No,Yes,Time-Turner,287,91,10
3,Katie Bones,Hufflepuff,5,"9 inches, elm, veela hair core",Toad,Acceptable,Acceptable,Outstanding,19,Beater,5,2,Yes,Yes,"Marauder's Map, Time-Turner, Invisibility Cloak",315,47,3
4,Padma SpinneSt,Hufflepuff,6,"12 inches, yew, unicorn hair core",Owl,Outstanding,Outstanding,Exceeds Expectations,23,Keeper,-38,4,No,No,Marauder's Map,215,79,4

**COMBINE ALL CSVs**

In [5]:
df_list = []
for file in folder_files:
    print(f'Reading {file}')
    file_path = data_path + '\\' + file
    temp_df = pd.read_csv(file_path)
    temp_df['fileName'] = file
    temp_df['loadDatetimeStamp'] = datetime.datetime.now()
    df_list.append(temp_df)

df = pd.concat(df_list, ignore_index = True)
print('Completed Data-frame Concatenation')

Reading Hogwarts_Student_Data_20240101.csv
Reading Hogwarts_Student_Data_20240201.csv
Reading Hogwarts_Student_Data_20240301.csv
Reading Hogwarts_Student_Data_20240401.csv
Reading Hogwarts_Student_Data_20240501.csv
Reading Hogwarts_Student_Data_20240601.csv
Completed Data-frame Concatenation

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48000 entries, 0 to 47999
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Student Name                         34560 non-null  object
 1   House                                44000 non-null  object
 2   Year                                 48000 non-null  int64
 3   Wand Type                            48000 non-null  object
 4   Pet                                  40054 non-null  object
 5   Potions Grade                        44560 non-null  object
 6   Defense Against the Dark Arts Grade  48000 non-null  object
 7   Transfiguration Grade                48000 non-null  object
 8   Spells Learned                       48000 non-null  int64
 9   Quidditch Position                   38496 non-null  object
 10  Points Earned for House              48000 non-null  int64
 11  Detentions                           48000 non-null  int64
 12  Participation in Dueling Club        48000 non-null  object
 13  Triwizard Tournament Involvement     42080 non-null  object
 14  Items Owned                          48000 non-null  object
 15  Knuts Spent in Hogsmeade             48000 non-null  int64
 16  Attendance at Classes                48000 non-null  int64
 17  Magical Accidents                    48000 non-null  int64
 18  fileName                             48000 non-null  object
 19  loadDatetimeStamp                    48000 non-null  datetime64[us]
dtypes: datetime64[us](1), int64(7), object(12)
memory usage: 7.3+ MB

**SAVE BRONZE LAYER**

In [7]:
df.to_parquet('Bronze.parquet', index = False)